
@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/functions\.styl}line{font-family:\000031}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/calendar\.styl}line{font-family:\000033}}
.calendar {
  margin-top: 10px;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/calendar\.styl}line{font-family:\000036}}
.calendar table {
  border-collapse: separate;
  border: 1px solid #9dabce;
  border-width: 0px 0px 1px 1px;
  font-size: 8px;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/calendar\.styl}line{font-family:\0000312}}
.calendar td,
.calendar th {
  width: 27px;
  height: 27px;
  text-align: center;
  vertical-align: middle;
  background: url("/img/cells.png");
  color: #444;
  position: relative;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/calendar\.styl}line{font-family:\0000321}}
.calendar th {
  height: 15px;
  font-weight: bold;
  font-size: 8px;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/calendar\.styl}line{font-family:\0000326}}
.calendar td:hover,
.calendar th:hover {
  background-position: 0px -81px;
  color: #222;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/calendar\.styl}line{font-family:\0000330}}
.calendar td.date_has_event {
  background-position: 162px 0px;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/calendar\.styl}line{font-family:\0000333}}
.calendar td.date_has_event:hover {
  background-position: 162px -81px;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/calendar\.styl}line{font-family:\0000336}}
.calendar td.padding {
  background: url("/img/calpad.jpg");
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/calendar\.styl}line{font-family:\0000339}}
.calendar td.today {
  background-position: 81px 0px;
  color: #fff;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/calendar\.styl}line{font-family:\0000343}}
.calendar td.today:hover {
  background-position: 81px -81px;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/calendar\.styl}line{font-family:\0000346}}
.calendar .events {
  position: relative;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/calendar\.styl}line{font-family:\0000349}}
.calendar .events ul {
  text-align: left;
  position: absolute;
  display: none;
  z-index: 1000;
  padding: 15px;
  background: #e7ecf2 url("/img/popup.png") no-repeat;
  color: #fff;
  border: 1px solid #fff;
  font-size: 15px;
  width: 200px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  list-style: none;
  color: #444;
  -moz-box-shadow: 0px 8px 8px #333;
  -webkit-box-shadow: 0px 8px 8px #333;
  box-shadow: 0px 8px 8px #333;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/calendar\.styl}line{font-family:\0000365}}
.calendar .events li {
  padding-bottom: 5px;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/calendar\.styl}line{font-family:\0000368}}
.calendar .events li span {
  display: block;
  font-size: 12px;
  text-align: justify;
  color: #555;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/calendar\.styl}line{font-family:\0000374}}
.calendar .events li span.title {
  font-weight: bold;
  color: #222;
}
