
@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/layout\.styl\.bak1}line{font-family:\0000344}}
/* General Styling */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/layout\.styl\.bak1}line{font-family:\0000346}}
body {
  font: 13.34px/1.4 helvetica, arial, freesans, clean, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5em;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/layout\.styl\.bak1}line{font-family:\0000352}}
.clear {
  clear: both;
  display: block;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/layout\.styl\.bak1}line{font-family:\0000356}}
h1 {
  font-size: 140%;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/layout\.styl\.bak1}line{font-family:\0000359}}
h2 {
  font-size: 130%;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/layout\.styl\.bak1}line{font-family:\0000362}}
h3 {
  font-size: 120%;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/layout\.styl\.bak1}line{font-family:\0000365}}
li {
  margin-left: 10px;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/layout\.styl\.bak1}line{font-family:\0000368}}
/* MAIN DYNAMIC APP WINDOW */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/layout\.styl\.bak1}line{font-family:\0000370}}
#main {
  height: 700px;
  width: 1000px;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/layout\.styl\.bak1}line{font-family:\0000374}}
#nav-pane {
  position: absolute;
  left: 5px;
  padding: 0px;
  top: 0px;
  width: 160px;
  min-height: 700px;
  background: #eee;
  padding: 5px 5px 5px 5px;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/layout\.styl\.bak1}line{font-family:\0000384}}
#nav-pane #profile-summary {
  width: 100%;
  font-size: small;
  padding: 5px 10px 20px 5px;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/layout\.styl\.bak1}line{font-family:\0000389}}
#nav-pane #profile-summary img {
  float: left;
  margin-right: 5px;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/layout\.styl\.bak1}line{font-family:\0000393}}
#nav-pane #main-menu {
  height: auto !important;
  padding: 5px 10px 20px 5px;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/layout\.styl\.bak1}line{font-family:\0000397}}
#nav-pane #nav-footer {
  position: absolute;
  height: 65px;
  bottom: 0px;
  font-size: small;
  padding: 5px 10px 20px 5px;
  text-align: center;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/layout\.styl\.bak1}line{font-family:\00003105}}
#nav-pane #nav-footer img {
  width: 140px;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/layout\.styl\.bak1}line{font-family:\00003108}}
#app-pane {
  margin-left: 180px;
  margin-right: 199px;
  height: 700px;
  padding: 5px 0px 10px 5px;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/layout\.styl\.bak1}line{font-family:\00003114}}
#share-pane {
  position: absolute;
  height: 700px;
  right: 5px;
  top: 0px;
  width: 200px;
  background: #eee;
  padding: 5px 0px 10px 5px;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/layout\.styl\.bak1}line{font-family:\00003123}}
#footer {
  height: 0px;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/layout\.styl\.bak1}line{font-family:\00003127}}
/* HOME PAGE AND STATIC CONTENT */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/layout\.styl\.bak1}line{font-family:\00003129}}
.home-main {
  width: 920px;
  margin: 0 auto;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/layout\.styl\.bak1}line{font-family:\00003133}}
.home-header-wrap {
  border-bottom: medium none;
  background: #eee;
  border-color: #e9e9e9 #e9e9e9 #f5f5f5;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.20);
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/layout\.styl\.bak1}line{font-family:\00003140}}
.home-header {
  width: 920px;
  height: 70px;
  margin: 0 auto;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/layout\.styl\.bak1}line{font-family:\00003145}}
.home-header-title {
  font: normal 28pt Garamond, "Hoefler Text", Palatino, "Palatino Linotype", serif;
  padding-left: 20px;
  padding-top: 5px;
  text-align: left;
  float: left;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/layout\.styl\.bak1}line{font-family:\00003152}}
.home-header-title a {
  color: #222;
  text-decoration: none;
  outline: 0;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/layout\.styl\.bak1}line{font-family:\00003157}}
.header-menu-bar {
  float: right;
  padding: 8px 25px 8px 8px;
  margin-right: 20px;
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #fcfcfc;
  background-image: -moz-linear-gradient(270deg, #fcfcfc 0%, #ececec 100%);
  background-image: -webkit-linear-gradient(270deg, #fcfcfc 0%, #ececec 100%);
  background-image: -ms-linear-gradient(270deg, #fcfcfc 0%, #ececec 100%);
  background-image: -o-linear-gradient(270deg, #fcfcfc 0%, #ececec 100%);
  background-image: linear-gradient(270deg, #fcfcfc 0%, #ececec 100%);
  border-color: #e9e9e9 #e9e9e9 #f5f5f5;
  border-radius: 0px 0px 5px 5px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.20);
  text-align: left;
  text-shadow: 1px 1px 0 #fff;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/layout\.styl\.bak1}line{font-family:\00003176}}
.header-menu-bar span {
  float: left;
  padding: 0px 8px 0px 8px;
  color: #888;
  text-shadow: none;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/layout\.styl\.bak1}line{font-family:\00003182}}
.header-menu-bar a {
  float: left;
  color: #4183c4;
  text-decoration: none;
  outline: 0;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/layout\.styl\.bak1}line{font-family:\00003188}}
.home-about {
  margin: -12px 0px 15px -19px;
  padding: 0;
  width: 920px;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/layout\.styl\.bak1}line{font-family:\00003193}}
.home-about h2 {
  height: auto;
  margin: 0 auto;
  position: relative;
  display: block;
  padding: 10px 20px 12px 20px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background: repeat scroll 0 0 transparent;
  background-color: #839ba9;
  background-image: -moz-linear-gradient(top, #839ba9 0%, #405a6a 100%);
  background-image: -webkit-linear-gradient(top, #839ba9 0%, #405a6a 100%);
  background-image: -ms-linear-gradient(top, #839ba9 0%, #405a6a 100%);
  background-image: -o-linear-gradient(top, #839ba9 0%, #405a6a 100%);
  background-image: linear-gradient(top, #839ba9 0%, #405a6a 100%);
  color: #fff;
  text-shadow: -1px -1px 0 rgba(0,0,0,0.20);
  font: normal 20px "Georgia";
  letter-spacing: 0;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/layout\.styl\.bak1}line{font-family:\00003211}}
.home-details {
  margin: 20px 20px 20px 0px;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/layout\.styl\.bak1}line{font-family:\00003214}}
.home-detail {
  float: left;
  width: 200px;
  height: 220px;
  margin: 30px 30px 30px 30px;
  padding: 10px 10px 10px 10px;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/layout\.styl\.bak1}line{font-family:\00003221}}
.home-detail .home-detail-link {
  text-decoration: none;
  outline: 0;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/layout\.styl\.bak1}line{font-family:\00003225}}
.home-detail h2 {
  height: 50px;
  width: 200px;
  padding: 5px 15px 5px 15px;
  background: #ddd;
  -webkit-border-radius: 0.5em 0.5em 0 0;
  -moz-border-radius: 0.5em 0.5em 0 0;
  font: normal 14pt "Arial Black", "Gadget", "sans-serif";
  font-style: normal;
  -moz-box-shadow: 8px 8px 8px #676734;
  -webkit-box-shadow: 8px 8px 8px #676734;
  box-shadow: 8px 8px 8px #676734;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/layout\.styl\.bak1}line{font-family:\00003238}}
.home-detail p {
  background: #fff;
  width: 198px;
  height: 170px;
  border-right: #888 solid 1px;
  border-left: #484848 solid 1px;
  border-bottom: #888 solid 1px;
  padding: 15px 15px 15px 15px;
  margin-top: 0;
  color: #676734;
  font: normal 12pt "Georgia";
  line-height: 1.3em;
  -moz-box-shadow: 8px 8px 8px;
  -webkit-box-shadow: 8px 8px 8px;
  box-shadow: 8px 8px 8px;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/layout\.styl\.bak1}line{font-family:\00003253}}
.home-footer {
  clear: both;
  padding-top: 20px;
  margin-left: 25px;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/layout\.styl\.bak1}line{font-family:\00003258}}
.home-footer a {
  margin-right: 8px;
  margin-left: 8px;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/layout\.styl\.bak1}line{font-family:\00003262}}
/**********************
 Comments
 **********************/

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/layout\.styl\.bak1}line{font-family:\00003266}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/layout\.styl\.bak1}line{font-family:\00003267}}
#social .comment-text {
  font-size: small;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/layout\.styl\.bak1}line{font-family:\00003270}}
#social .comment-sig {
  font-size: small;
  font-style: italic;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/layout\.styl\.bak1}line{font-family:\00003275}}
/**********************
 Search
 **********************/

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/layout\.styl\.bak1}line{font-family:\00003279}}
.search-list {
  margin-top: 15px;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/layout\.styl\.bak1}line{font-family:\00003282}}
.search-list-item {
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: solid 1px;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/layout\.styl\.bak1}line{font-family:\00003287}}
.search-list-item h3 {
  font-size: medium;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/layout\.styl\.bak1}line{font-family:\00003290}}
.search-list-item p {
  font-size: small;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/layout\.styl\.bak1}line{font-family:\00003294}}
/***************************
Search
***************************/

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/layout\.styl\.bak1}line{font-family:\00003298}}
.filter-guide {
  font-size: x-small;
  font-family: "Verdana";
  margin-left: 10px;
}
