
@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/layout\.styl}line{font-family:\0000316}}
/* MAIN DYNAMIC APP WINDOW */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/layout\.styl}line{font-family:\0000318}}
#main {
  height: 700px;
  width: 1000px;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/layout\.styl}line{font-family:\0000322}}
#nav-pane {
  position: absolute;
  left: 5px;
  padding: 0px;
  top: 0px;
  width: 200px;
  height: 700px;
  background: #eee;
  padding: 5px 5px 5px 5px;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/layout\.styl}line{font-family:\0000332}}
#nav-pane #profile-summary {
  width: 100%;
  height: 100px;
  font-size: small;
  padding: 5px 10px 20px 5px;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/layout\.styl}line{font-family:\0000338}}
#nav-pane #main-menu {
  height: auto !important;
  padding: 5px 10px 20px 5px;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/layout\.styl}line{font-family:\0000342}}
#nav-pane #nav-footer {
  position: absolute;
  height: 80px;
  bottom: 0px;
  font-size: small;
  padding: 5px 10px 20px 5px;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/layout\.styl}line{font-family:\0000349}}
#nav-pane #nav-footer img {
  width: 150px;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/layout\.styl}line{font-family:\0000352}}
#app-pane {
  margin-left: 220px;
  margin-right: 199px;
  height: 700px;
  padding: 0px 5px 0px 5px;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/layout\.styl}line{font-family:\0000358}}
#share-pane {
  position: absolute;
  height: 700px;
  right: 5px;
  top: 0px;
  width: 200px;
  background: #eee;
  padding: 0px 5px 0px 5px;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/layout\.styl}line{font-family:\0000367}}
#footer {
  height: 0px;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/layout\.styl}line{font-family:\0000370}}
/* MAIN MENU */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/layout\.styl}line{font-family:\0000372}}
ul.menulist {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font: bold 13px Verdana;
  width: 180px;
/* Main Menu Item widths */
  border-bottom: 1px solid #ccc;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/layout\.styl}line{font-family:\0000380}}
ul.menulist li.menuitem {
  position: relative;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/layout\.styl}line{font-family:\0000383}}
ul.menulist li.menuitem a {
  display: block;
  overflow: auto;
  color: #fff;
  text-decoration: none;
  padding: 6px;
  border-bottom: 1px solid #778;
  border-right: 1px solid #778;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/layout\.styl}line{font-family:\0000392}}
ul.menulist li.menuitem a:link,
ul.menulist li.menuitem a:visited,
ul.menulist li.menuitem a:active {
  background-color: #0163b0;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/layout\.styl}line{font-family:\0000395}}
ul.menulist li.menuitem a:visited {
  color: #fff;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/layout\.styl}line{font-family:\0000398}}
ul.menulist li.menuitem a:hover {
  background-color: #000;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/layout\.styl}line{font-family:\00003101}}
ul.menulist li.menuitem ul {
  list-style-type: none;
  position: absolute;
  width: 170px;
  top: 0;
  visibility: hidden;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/layout\.styl}line{font-family:\00003108}}
/* Holly Hack for IE \*/

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/layout\.styl}line{font-family:\00003109}}
* html .menulist ul li {
  float: left;
  height: 1%;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/layout\.styl}line{font-family:\00003110}}
* html .menulist ul li a {
  height: 1%;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/layout\.styl}line{font-family:\00003111}}
/* End */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/layout\.styl}line{font-family:\00003114}}
/* HOME PAGE AND STATIC CONTENT */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/layout\.styl}line{font-family:\00003116}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/layout\.styl}line{font-family:\00003118}}
#home-main #home-header {
  width: 900px;
  height: 100px;
  background-color: #2020f0;
  color: #fff;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/layout\.styl}line{font-family:\00003124}}
#home-main #home-header p {
  font-size: 25px;
  font-family: Geneva;
  padding-left: 20px;
  padding-top: 10px;
  width: 75%;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/layout\.styl}line{font-family:\00003131}}
#home-main #home-header a {
  float: left;
  padding-left: 20px;
  padding-top: 10px;
  color: #fff;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/layout\.styl}line{font-family:\00003137}}
#home-main #home-about {
  margin: 5px 10px 5px 20px;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/layout\.styl}line{font-family:\00003140}}
#home-main #home-details {
  margin: 20px 20px 20px 0px;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/layout\.styl}line{font-family:\00003143}}
#home-main .home-detail {
  float: left;
  width: 200px;
  height: 150px;
  margin: 30px 30px 30px 30px;
  padding: 10px 10px 10px 10px;
  background: #ddd;
  border-radius: 8px 8px 8px;
  -moz-box-shadow: 8px 8px 8px;
  -webkit-box-shadow: 8px 8px 8px;
  box-shadow: 8px 8px 8px;
  background: #7abcff;
  background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7abcff), color-stop(44%, #60abf8), color-stop(100%, #4096ee));
  background: -webkit-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%);
  background: -o-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%);
  background: -ms-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%);
  background: linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%);
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/layout\.styl}line{font-family:\00003153}}
#home-main .home-detail h2 {
  color: #fff;
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/layout\.styl}line{font-family:\00003159}}
#home-main .home-detail p {
  color: #eee;
  margin-top: 5px;
  font-size: small;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/layout\.styl}line{font-family:\00003164}}
#home-main #home-footer {
  clear: both;
  padding-top: 20px;
  margin-left: 25px;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/eslick\/Work\/newmed\/experiment\/stylus\/layout\.styl}line{font-family:\00003169}}
#home-main #home-footer a {
  margin-right: 8px;
  margin-left: 8px;
}
