
@media -stylus-debug-info{filename{font-family:file\:\/\/\/home\/eslick\/dev\/experiment\/stylus\/functions\.styl}line{font-family:\000031}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/home\/eslick\/dev\/experiment\/stylus\/main\.styl}line{font-family:\000033}}
/* GENERIC STYLES */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/home\/eslick\/dev\/experiment\/stylus\/main\.styl}line{font-family:\000035}}
.hidden {
  display: none;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/home\/eslick\/dev\/experiment\/stylus\/main\.styl}line{font-family:\000038}}
.error {
  color: #f00;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/home\/eslick\/dev\/experiment\/stylus\/main\.styl}line{font-family:\0000312}}
/* HOME PAGE AND STATIC CONTENT */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/home\/eslick\/dev\/experiment\/stylus\/main\.styl}line{font-family:\0000314}}
.home-main {
  width: 920px;
  min-height: 400px;
  margin: 0 auto;
  padding-top: 10px;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/home\/eslick\/dev\/experiment\/stylus\/main\.styl}line{font-family:\0000320}}
.home-main h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  line-height: 110%;
  font-size: 20pt;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/home\/eslick\/dev\/experiment\/stylus\/main\.styl}line{font-family:\0000326}}
.home-main h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16pt;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/home\/eslick\/dev\/experiment\/stylus\/main\.styl}line{font-family:\0000331}}
.home-main h3 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 14pt;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/home\/eslick\/dev\/experiment\/stylus\/main\.styl}line{font-family:\0000336}}
.home-main p {
  margin-top: 5px;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/home\/eslick\/dev\/experiment\/stylus\/main\.styl}line{font-family:\0000339}}
.home-header-wrap {
  border-bottom: medium none;
  background: #eee;
  border-color: #e9e9e9 #e9e9e9 #f5f5f5;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.20);
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/home\/eslick\/dev\/experiment\/stylus\/main\.styl}line{font-family:\0000346}}
.home-header {
  width: 920px;
  height: 70px;
  margin: 0 auto;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/home\/eslick\/dev\/experiment\/stylus\/main\.styl}line{font-family:\0000351}}
.home-header-title {
  font: normal 28pt Impact;
  padding-left: 20px;
  padding-top: 5px;
  text-align: left;
  float: left;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/home\/eslick\/dev\/experiment\/stylus\/main\.styl}line{font-family:\0000358}}
.home-header-title a {
  color: #222;
  text-decoration: none;
  outline: 0;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/home\/eslick\/dev\/experiment\/stylus\/main\.styl}line{font-family:\0000363}}
.header-menu-bar {
  float: right;
  font-size: 120%;
  padding: 8px 25px 8px 8px;
  margin-right: 20px;
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #fcfcfc;
  background-image: -moz-linear-gradient(270deg, #fcfcfc 0%, #ececec 100%);
  background-image: -webkit-linear-gradient(270deg, #fcfcfc 0%, #ececec 100%);
  background-image: -ms-linear-gradient(270deg, #fcfcfc 0%, #ececec 100%);
  background-image: -o-linear-gradient(270deg, #fcfcfc 0%, #ececec 100%);
  background-image: linear-gradient(270deg, #fcfcfc 0%, #ececec 100%);
  border-color: #e9e9e9 #e9e9e9 #f5f5f5;
  border-radius: 0px 0px 5px 5px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.20);
  text-align: left;
  text-shadow: 1px 1px 0 #fff;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/home\/eslick\/dev\/experiment\/stylus\/main\.styl}line{font-family:\0000383}}
.header-menu-bar span {
  float: left;
  padding: 0px 8px 0px 8px;
  color: #888;
  text-shadow: none;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/home\/eslick\/dev\/experiment\/stylus\/main\.styl}line{font-family:\0000389}}
.header-menu-bar a {
  float: left;
  color: #4183c4;
  text-decoration: none;
  outline: 0;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/home\/eslick\/dev\/experiment\/stylus\/main\.styl}line{font-family:\0000395}}
.home-about {
  margin: -12px 0px 15px 0px;
  padding: 0;
  width: 920px;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/home\/eslick\/dev\/experiment\/stylus\/main\.styl}line{font-family:\00003100}}
.home-about h2 {
  height: auto;
  margin: 0 auto;
  position: relative;
  text-align: center;
  display: block;
  padding: 10px 20px 12px 20px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background: repeat scroll 0 0 transparent;
  background-color: #839ba9;
  background-image: -moz-linear-gradient(top, #839ba9 0%, #405a6a 100%);
  background-image: -webkit-linear-gradient(top, #839ba9 0%, #405a6a 100%);
  background-image: -ms-linear-gradient(top, #839ba9 0%, #405a6a 100%);
  background-image: -o-linear-gradient(top, #839ba9 0%, #405a6a 100%);
  background-image: linear-gradient(top, #839ba9 0%, #405a6a 100%);
  color: #fff;
  text-shadow: -1px -1px 0 rgba(0,0,0,0.20);
  font: normal 20px "Georgia";
  letter-spacing: 0;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/home\/eslick\/dev\/experiment\/stylus\/main\.styl}line{font-family:\00003118}}
.home-about a {
  color: #ddd;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/home\/eslick\/dev\/experiment\/stylus\/main\.styl}line{font-family:\00003121}}
.home-flash {
  background-color: #eee;
  position: relative;
  text-align: center;
  margin: 0 auto;
  width: 80%;
  padding: 10px 10px 10px 10px;
  font-style: italic;
  border: 1px solid;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/home\/eslick\/dev\/experiment\/stylus\/main\.styl}line{font-family:\00003131}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/home\/eslick\/dev\/experiment\/stylus\/main\.styl}line{font-family:\00003133}}
.home-logos img {
  verticle-align: middle;
  margin-left: 100px;
  max-width: 200px;
  max-height: 120px;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/home\/eslick\/dev\/experiment\/stylus\/main\.styl}line{font-family:\00003139}}
.home-details {
  margin: 20px 20px 20px 0px;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/home\/eslick\/dev\/experiment\/stylus\/main\.styl}line{font-family:\00003142}}
.home-detail {
  float: left;
  width: 200px;
  margin: 0px 30px 20px 45px;
  padding: 10px 10px 10px 10px;
  color: #222;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/home\/eslick\/dev\/experiment\/stylus\/main\.styl}line{font-family:\00003149}}
.home-detail .home-detail-link {
  text-decoration: underline;
  color: #506a7a;
  outline: 0;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/home\/eslick\/dev\/experiment\/stylus\/main\.styl}line{font-family:\00003154}}
.home-detail h2 {
  width: 200px;
  padding: 0px 10px 10px 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 14pt;
  font-weight: 700;
  font-style: normal;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/home\/eslick\/dev\/experiment\/stylus\/main\.styl}line{font-family:\00003164}}
.home-detail p {
  color: #666;
  background: #fff;
  width: 198px;
  padding: 5px 10px 0px 10px;
  margin-top: 0;
  font-size: 10pt;
  font-weight: 400;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/home\/eslick\/dev\/experiment\/stylus\/main\.styl}line{font-family:\00003174}}
.footer {
  padding: 15px 0px 15px 0px;
  margin-top: 30px;
  margin-bottom: 40px;
  background-color: #f6f6f6;
  border: 1px solid #ddd;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/home\/eslick\/dev\/experiment\/stylus\/main\.styl}line{font-family:\00003181}}
.footer-bar {
  text-align: center;
  vertical-align: middle;
  color: #838383;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/home\/eslick\/dev\/experiment\/stylus\/main\.styl}line{font-family:\00003186}}
.footer-bar a.footer-link {
  font-size: small;
  padding: 0px 8px 0px 8px;
  text-decoration: none;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/home\/eslick\/dev\/experiment\/stylus\/main\.styl}line{font-family:\00003191}}
.footer-bar p {
  font-size: x-small;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/home\/eslick\/dev\/experiment\/stylus\/main\.styl}line{font-family:\00003194}}
.footer-bar p a {
  color: #838383;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/home\/eslick\/dev\/experiment\/stylus\/main\.styl}line{font-family:\00003197}}
/* FORMS */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/home\/eslick\/dev\/experiment\/stylus\/main\.styl}line{font-family:\00003199}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/home\/eslick\/dev\/experiment\/stylus\/main\.styl}line{font-family:\00003201}}
.form-field .head {
  display: block;
  width: 100px;
  margin-right: 30px;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/home\/eslick\/dev\/experiment\/stylus\/main\.styl}line{font-family:\00003206}}
.form-field input {
  width: 600px;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/home\/eslick\/dev\/experiment\/stylus\/main\.styl}line{font-family:\00003209}}
.form-field textarea {
  width: 600px;
  height: 300px;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/home\/eslick\/dev\/experiment\/stylus\/main\.styl}line{font-family:\00003213}}
/* ARTICLES */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/home\/eslick\/dev\/experiment\/stylus\/main\.styl}line{font-family:\00003215}}
.admin-link {
  float: right;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/home\/eslick\/dev\/experiment\/stylus\/main\.styl}line{font-family:\00003218}}
.article {
  width: 600px;
  padding-bottom: 40px;
  padding-top: 10px;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/home\/eslick\/dev\/experiment\/stylus\/main\.styl}line{font-family:\00003223}}
.article h2 {
  margin-top: 15px;
  margin-bottom: 7px;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/home\/eslick\/dev\/experiment\/stylus\/main\.styl}line{font-family:\00003227}}
.article h3 {
  margin-top: 15px;
  margin-bottom: 10px;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/home\/eslick\/dev\/experiment\/stylus\/main\.styl}line{font-family:\00003231}}
.article p {
  margin-bottom: 5px;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/home\/eslick\/dev\/experiment\/stylus\/main\.styl}line{font-family:\00003234}}
.article ol {
  margin-left: 10px;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/home\/eslick\/dev\/experiment\/stylus\/main\.styl}line{font-family:\00003237}}
.article ul {
  margin-left: 2px;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/home\/eslick\/dev\/experiment\/stylus\/main\.styl}line{font-family:\00003240}}
.article li {
  margin-top: 4px;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/home\/eslick\/dev\/experiment\/stylus\/main\.styl}line{font-family:\00003243}}
.article img {
  border: 1px solid;
  padding: 5px 5px 5px 5px;
  margin-top: 20px;
  margin-left: 10px;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/home\/eslick\/dev\/experiment\/stylus\/main\.styl}line{font-family:\00003249}}
.article blockquote {
  margin: 5px 0px 10px 10px;
  padding-left: 10px;
  border-left: 4px solid #808080;
  font-style: ariel;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/home\/eslick\/dev\/experiment\/stylus\/main\.styl}line{font-family:\00003255}}
/* DISCUSSION WIDGET */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/home\/eslick\/dev\/experiment\/stylus\/main\.styl}line{font-family:\00003257}}
div.comment-form textarea {
  min-width: 400px;
  min-height: 100px;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/home\/eslick\/dev\/experiment\/stylus\/main\.styl}line{font-family:\00003261}}
div.discussion {
  margin-left: 30px;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/home\/eslick\/dev\/experiment\/stylus\/main\.styl}line{font-family:\00003264}}
.discussion-byline {
  font-size: 80%;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/home\/eslick\/dev\/experiment\/stylus\/main\.styl}line{font-family:\00003267}}
div.discussion-0 {
  margin-left: 0px;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/home\/eslick\/dev\/experiment\/stylus\/main\.styl}line{font-family:\00003269}}
div.discussion-0 p {
  font-weight: bold;
  font-size: 120%;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/home\/eslick\/dev\/experiment\/stylus\/main\.styl}line{font-family:\00003273}}
div.discussion-1 p {
  font-weight: normal;
  font-size: 100%;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/home\/eslick\/dev\/experiment\/stylus\/main\.styl}line{font-family:\00003277}}
/* STUDY 1 */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/home\/eslick\/dev\/experiment\/stylus\/main\.styl}line{font-family:\00003279}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/home\/eslick\/dev\/experiment\/stylus\/main\.styl}line{font-family:\00003281}}
.study1-author .head {
  margin-top: 10px;
  width: 500px;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/home\/eslick\/dev\/experiment\/stylus\/main\.styl}line{font-family:\00003285}}
.study1-author label {
  font-weight: bold;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/home\/eslick\/dev\/experiment\/stylus\/main\.styl}line{font-family:\00003288}}
.study1-author i {
  font-size: x-small;
}
